body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.register-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-form h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.register-form p {
    text-align: center;
}


/* Услуги */
.services {
    padding: 20px;
    text-align: left;
}

.services h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.services p {
    font-size: 16px;
    margin-bottom: 10px;
}

.services ul {
    list-style-type: disc;
    margin-left: 20px;
}

.services ul li {
    font-size: 16px;
    margin-bottom: 5px;
}

/* "О нас" */
.about {
    padding: 20px;
    text-align: left;
}

.about h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about p {
    font-size: 16px;
    margin-bottom: 10px;
}

.about ul {
    list-style-type: disc;
    margin-left: 20px;
}

.about ul li {
    font-size: 16px;
    margin-bottom: 5px;
}

/* "Контакты" */
.contacts {
    padding: 20px;
    text-align: left;
}

.contacts h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contacts p {
    font-size: 16px;
    margin-bottom: 10px;
}

.contacts ul {
    list-style-type: disc;
    margin-left: 20px;
}

.contacts ul li {
    font-size: 16px;
    margin-bottom: 5px;
}


